<template>
  <v-app-bar :elevation="3">
    <v-img
      class="ma-3"
      src="https://media.discordapp.net/attachments/1014072451187085332/1061663574746992640/25_20220830154543.png?width=662&height=662"
      max-height="50"
      max-width="50"
    ></v-img>
    <v-app-bar-title class="font-weight-bold text-brown-darken-4"
      >D-COFFEE</v-app-bar-title
    >
    <v-spacer></v-spacer>

    <div>
      <v-list-item
        prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
        title="Sandra Adams"
        subtitle="sandra_a88@gmailcom"
      ></v-list-item>
    </div>
  </v-app-bar>
</template>
