<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import type Product from "@/types/Product";
import { computed } from "vue";
import { useOrderStore } from "@/stores/order";

const productStore = useProductStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const OrderStore = useOrderStore();

onMounted(async () => {
  await productStore.getProducts();
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col v-for="item of productStore.products" :key="item.id" col="3">
              <v-card width="300">
                <v-card-item>
                  <v-card-title>{{ item.name }}</v-card-title>
                  <v-card-text>
                    <v-img :src="item.image"></v-img>{{ item.price }} THB
                    <v-btn @click="OrderStore.addProduct(item)">ADD</v-btn>
                  </v-card-text>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-container></v-col
      >
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>Name</th>

              <th>Price</th>

              <th>QTY</th>

              <th>amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of OrderStore.orderList" :key="index">
              <td>{{ item.product.name }}</td>

              <td>{{ item.product.price }}</td>

              <td>{{ item.amount }}</td>

              <td>{{ item.sum }}</td>
              <td><v-btn @click="OrderStore.deleteProduct(index)">x</v-btn></td>
            </tr>
          </tbody>
        </v-table>
        <div>
          Total {{ OrderStore.sumPrice }} Quantity {{ OrderStore.sumAmount }}
        </div>
        <div><v-btn @click="OrderStore.openOrder()">Order</v-btn></div>
      </v-col>
    </v-row>
  </v-container>
</template>
