<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
const custoemrStore = useCustomerStore();

onMounted(async () => {
  await custoemrStore.getCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-btn @click="custoemrStore.dialog = true" color="green">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tel</th>

        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of custoemrStore.customers" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>

        <td>
          <v-btn
            class="mr-5"
            @click="custoemrStore.editCustomer(item)"
            color="secondary"
            >Edit</v-btn
          ><v-btn @click="custoemrStore.deleteCustomer(item.id!)" color="error"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
