<template>
  <v-container class="rounded-xl d-flex justify-center align-center">
    <v-row class="">
      <v-col>
        <v-card variant="tonal" width="250">
          <v-card-title class="text-h5">ยอดรวม</v-card-title>
          <v-card-text>936.00 บาท</v-card-text>
        </v-card>
      </v-col>

      <v-col>
        <v-card variant="tonal" width="250">
          <v-card-title class="text-h5">จำนวนบิล/วัน</v-card-title>
          <v-card-text> 3 </v-card-text>
        </v-card>
      </v-col>

      <v-col>
        <v-card variant="tonal" width="250">
          <v-card-title class="text-h5">เฉลี่ย/บิล</v-card-title>
          <v-card-text> 312.00 บาท </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-layout class="bg-brown-lighten-2 rounded-xl ma-10" style="height: 400px">
    <v-row class="justify-center align-center">
      <v-col cols="auto">
        <v-card-text></v-card-text>
        <v-card height="300px" class="overflow-auto">
          <v-img
            width="1000px"
            src="https://media.discordapp.net/attachments/1060838064085286912/1081998376104636559/24hr_chart_3.png?width=1440&height=298"
          ></v-img
        ></v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>
