<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
import { useUserStore } from "@/stores/user";
import { ref, onMounted } from "vue";

const value = ref(0);
const productStore = useProductStore();
const OrderStore = useOrderStore();
const UserStore = useUserStore();
onMounted(async () => {
  await productStore.getProducts();
  await UserStore.getUsers();
});
</script>

<template>
  <v-navigation-drawer location="right" width="450">
    <v-card-text>List</v-card-text>
    <v-divider></v-divider>
    <v-card class="mx-auto">
      <v-table fixed-header height="240px">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Qty</th>
            <th class="text-center"></th>
            <th class="text-center">Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in OrderStore.OrderView" :key="item.productId">
            <td class="border-bt">
              <v-card variant="text" max-width="100" width="100">
                <p style="font-size: 20px">{{ item.product?.name }}</p>
                <p style="color: gray">{{ item.product?.price }} THB</p>
              </v-card>
            </td>

            <td class="border-bt">
              <v-chip color="brown" text-color="white">
                {{ item.amount }}</v-chip
              >
            </td>

            <td class="border-bt">
              <tbody>
                <tr>
                  <v-btn
                    icon="mdi-plus-box "
                    variant="text"
                    size="small"
                    color="green"
                    @Click="OrderStore.addNewOrderItem(item.product!)"
                  ></v-btn>
                </tr>
                <tr>
                  <v-btn
                    icon="mdi-minus-box-outline"
                    variant="text"
                    size="small"
                    color="error"
                    @Click="OrderStore.RemoveOrderItem(item)"
                  ></v-btn>
                </tr>
              </tbody>
            </td>

            <td class="border-bt">
              <v-chip color="brown" text-color="white"
                >{{ item.total }} THB
              </v-chip>
            </td>

            <td class="border-bt">
              <v-btn
                icon="mdi-delete-forever "
                class="ml-2"
                variant="text"
                @Click="OrderStore.btnRemoveOrderItem(item)"
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-container></v-container>

    <v-divider></v-divider>
    <v-container style="height: 165px" class="pt-6">
      <v-row justify="end"
        ><v-col class="pa-0 ma-1 font-weight-medium text-h6">total</v-col
        ><v-col cols="4" class="pa-0 text-right font-weight-medium text-h6"
          >0.00 THB</v-col
        ></v-row
      >

      <v-row justify="end"
        ><v-col class="pa-0 ma-1 text-medium-emphasis">Discount</v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >0.00 THB</v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mx-1 border-bt-line text-medium-emphasis"
          >Vat 0%</v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >0.00 THB
        </v-col></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 ma-1 border-bt-line text-medium-emphasis"
          >Cash</v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >0.00 THB</v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 ma-1 border-bt-line text-medium-emphasis"
          >Change</v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >0.00 THB</v-col
        ></v-row
      >
      <!-- payment method -->
    </v-container>
    <v-divider class="ma-2"></v-divider>

    <v-chip class="ma-1" variant="elevated" color="brown-darken-1" size="large">
      Payment Method
    </v-chip>

    <v-layout class="overflow-visible mt-1" style="height: 70px">
      <v-container>
        <v-row>
          <v-col class="text-center"
            ><v-btn
              pill
              outlined
              class="btn-payment"
              style="height: 44px; width: 110px"
            >
              <div class="btn-top">
                <v-icon icon="mdi-cash" size="x-large"></v-icon>
              </div>
              <div>
                <v-card-text class="text-center mt-2">
                  <strong>Cash</strong>
                </v-card-text>
              </div>
            </v-btn>
          </v-col>
          <v-col class="text-center">
            <v-btn
              pill
              outlined
              class="btn-payment"
              style="height: 44px; width: 110px"
            >
              <div class="btn-top">
                <v-icon icon="mdi-credit-card" size="x-large"></v-icon>
              </div>
              <div>
                <v-card-text class="text-center mt-2">
                  <strong>Credit Card</strong>
                </v-card-text>
              </div>
            </v-btn>
          </v-col>
          <v-col class="text-center">
            <v-btn
              pill
              outlined
              class="btn-payment"
              style="height: 44px; width: 110px"
            >
              <div class="btn-top">
                <v-icon icon="mdi-qrcode" size="x-large"></v-icon>
              </div>
              <div>
                <v-card-text class="text-center mt-2">
                  <strong>QRcode</strong>
                </v-card-text>
              </div>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>

    <v-btn
      color="brown-darken-1 mt-3"
      height="50"
      width="100%"
      @Click="OrderStore.dialog = true"
    >
      <strong>Print Bill</strong>
    </v-btn>
  </v-navigation-drawer>
</template>

<style scoped>
btn-payment {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-top {
  position: absolute;
  top: 0;
}
</style>
