<script setup lang="ts">
import { ref } from "vue";

const drawer = ref(true);
const rail = ref(true);
</script>
<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="About Menu"
      nav
    >
      <template v-slot:append>
        <v-btn
          variant="text"
          icon="mdi-chevron-left"
          @click.stop="rail = !rail"
        ></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        to="/"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food"
        title="Point Of Sell"
        value="pos"
        to="/pos"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-file-document-edit"
        title="Order"
        value="order"
        to="/order"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-order-alphabetical-ascending"
        title="Stock manager"
        value="product"
        to="/product"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-plus"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-group"
        title="Employee"
        value="employee"
        to="/employee"
      ></v-list-item>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn color="error" block prepend-icon="mdi-logout"></v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
