<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import EmployeeDialog from "./EmployeeDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <EmployeeDialog></EmployeeDialog>
  <v-btn @click="userStore.dialog = true" color="green">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <v-btn
            class="mr-5"
            @click="userStore.editUser(item)"
            color="secondary"
            >Edit</v-btn
          ><v-btn @click="userStore.deleteUser(item.id!)" color="error"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
